In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"loan_prediction.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [4]:
df.shape

(614, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df.isnull().sum()*100/len(df)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [7]:
columns = ["Gender", "Dependents", "LoanAmount", "Loan_Amount_Term"]
df = df.dropna(subset = columns)

In [8]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        30
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       48
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
col = ["Self_Employed", "Credit_History"]
for i in col:
    df[i] = df[i].fillna(df[i].mode()[0])

In [10]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
df = df.drop("Loan_ID", axis = 1)
df.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [12]:
df.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
562,Male,Yes,0,Graduate,No,5923,2054.0,211.0,360.0,1.0,Rural,Y
142,Male,No,0,Graduate,Yes,6950,0.0,175.0,180.0,1.0,Semiurban,Y
533,Male,No,1,Graduate,No,11250,0.0,196.0,360.0,1.0,Semiurban,N
464,Male,No,0,Graduate,No,4166,0.0,98.0,360.0,0.0,Semiurban,N
600,Female,No,3+,Graduate,No,416,41667.0,350.0,180.0,1.0,Urban,N

In [13]:
df["Dependents"].unique()

array(['1', '0', '2', '3+'], dtype=object)

In [14]:
df["Dependents"] = df["Dependents"].replace(to_replace = "3+", value =  "4")

In [15]:
df["Property_Area"].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [16]:
df["Credit_History"].unique()

array([1., 0.])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             553 non-null    object
 1   Married            553 non-null    object
 2   Dependents         553 non-null    object
 3   Education          553 non-null    object
 4   Self_Employed      553 non-null    object
 5   ApplicantIncome    553 non-null    int64
 6   CoapplicantIncome  553 non-null    float64
 7   LoanAmount         553 non-null    float64
 8   Loan_Amount_Term   553 non-null    float64
 9   Credit_History     553 non-null    float64
 10  Property_Area      553 non-null    object
 11  Loan_Status        553 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 56.2+ KB

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
columns_to_encode = df.iloc[:, [0, 1, 3, 4,10, 11]]
for i in columns_to_encode:
   df[i] = le.fit_transform(df[i])

In [19]:
df.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
564,1,1,2,0,0,8799,0.0,258.0,360.0,0.0,2,0
581,1,0,0,0,0,1836,33837.0,90.0,360.0,1.0,2,0
108,1,1,2,0,0,3800,3600.0,216.0,360.0,0.0,2,0
527,1,1,1,1,0,5285,1430.0,161.0,360.0,0.0,1,1
350,1,1,0,0,0,9083,0.0,228.0,360.0,1.0,1,1

In [20]:
# df["Gender"]= df["Gender"].map({"Male":1, "Female":0})
# df["Married"]= df["Married"].map({"Yes":1, "No":0})
# df["Education"]= df["Education"].map({"Graduate":1, "Not Graduate":0})
# df["Self_Employed"]= df["Self_Employed"].map({"Yes":1, "No":0})
# df["Property_Area"]= df["Property_Area"].map({"Urban":1, "Rural":0, "Semiurban" : 2})

In [21]:
X = df.drop('Loan_Status', axis = 1).values
y = df['Loan_Status']

In [22]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [23]:
df.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, 
                                                         random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [26]:
X_train

array([[ 0.4772607 , -1.37436854, -0.71082716, ...,  0.30670603,
         0.40013121, -1.28812027],
       [-2.09529089, -1.37436854, -0.71082716, ...,  0.30670603,
         0.40013121, -1.28812027],
       [-2.09529089,  0.72760688, -0.71082716, ...,  0.30670603,
        -2.49918019, -0.02008205],
       ...,
       [ 0.4772607 ,  0.72760688,  0.88808176, ...,  0.30670603,
         0.40013121,  1.24795616],
       [ 0.4772607 , -1.37436854, -0.71082716, ..., -0.55675936,
         0.40013121, -1.28812027],
       [ 0.4772607 ,  0.72760688, -0.71082716, ...,  0.30670603,
         0.40013121, -1.28812027]])

In [27]:
from sklearn.naive_bayes import GaussianNB
nb_clf = GaussianNB()
nb_clf.fit(X_train,y_train)

GaussianNB()

In [28]:
from sklearn import metrics
y_pred = nb_clf.predict(X_test)
print("Accuracy of gaussian is", metrics.accuracy_score(y_test,y_pred))

Accuracy of gaussian is 0.6936936936936937

In [29]:
#y_pred

In [30]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

model_df = {}
def model_val(model, X, y):
    
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"Accuracy of {model} is {accuracy_score(y_test, y_pred)}")

    score = cross_val_score(model, X, y, cv=5)
    print(f"Avg cross val score of {model} is {np.mean(score)}")
    #model_df[str(model)] = round(np.mean(score) * 100, 2)

In [31]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model_val(model,X,y)

Accuracy of GaussianNB() is 0.6936936936936937
Avg cross val score of GaussianNB() is 0.7866830466830466

In [32]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=200)
model_val(model,X,y)

Accuracy of LogisticRegression(max_iter=200) is 0.7387387387387387
Avg cross val score of LogisticRegression(max_iter=200) is 0.8011629811629811

In [33]:
#print(model_df)

In [34]:
from sklearn import svm
model = svm.SVC()
model_val(model,X,y)

Accuracy of SVC() is 0.7387387387387387
Avg cross val score of SVC() is 0.7016216216216217

In [35]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

Accuracy of DecisionTreeClassifier() is 0.6486486486486487
Avg cross val score of DecisionTreeClassifier() is 0.7033742833742835

In [36]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model_val(model,X,y)

Accuracy of RandomForestClassifier() is 0.6936936936936937
Avg cross val score of RandomForestClassifier() is 0.7902866502866502

In [37]:
#print(model_df)

In [38]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model_val(model,X,y)

Accuracy of GradientBoostingClassifier() is 0.6666666666666666
Avg cross val score of GradientBoostingClassifier() is 0.7703521703521703

In [39]:
from sklearn.model_selection import RandomizedSearchCV

In [40]:
log_reg_grid = {"C":np.logspace(-4,4,20),
               "solver":["liblinear"]}

In [41]:
rs_log_reg =  RandomizedSearchCV(LogisticRegression(),
                    param_distributions = log_reg_grid, n_iter = 20 , 
                    cv =5, verbose = True)

In [42]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [43]:
rs_log_reg.best_score_

0.8011629811629811

In [44]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}